@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

label{
    color: #FFF;
}

.label-id{
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

.label-id:focus {
    border: 1px none;
    outline: 0;
}


.index-btn:hover{
    background-color:  black;
    border: 1px solid black;
    transition: 500ms;
    
}